.summary{
  font-size: 115%;
  padding-top: 2rem;
}

#hamburger, #hamburger-label{
  display: none;
}

#hamburger-label{
  font-size: 180%;
  cursor: pointer;
}

.active{
  text-decoration: underline;
}

.mainheader{position: relative;}

@media (max-width: 800px){
  #hamburger-label { 
    display: inline-block; 
  }
  .navbar-contents {
    display: none;
  }
  input#hamburger:checked ~ .navbar-contents {
    display: block;
  }
}
